$blue: #112ae0;
$black: #000;
$white: #fff;
$red: #f00;
$yellow: #e0cb11;
$orange: #e05611;
$white: #fff;


a:link { color: $white; }
a:visited { color: $white; }
a:hover { color: $red; }
a:active { color: $black; }
