$black: #000;
$grey: #4b4a4c;
$white: #fff;
$red: #f00;

header {
  align-self: center;
  // box-sizing: border-box;
  text-align: center;
  width: 100%;
}


body {
  // background-color: $grey;
  background-image: url('../../images/phish1.jpg');
  background-size: cover;
  color: $white;
}

footer {
  background-size: cover;
  float: left;
  width: auto;
}

.list-unordered {
  float: left;
}






// $unit: 30px;
// $width: (4 * $unit);
// $height: (4 * $unit);
// $black: #000;
// $white: #fff;

// header {
//   box-sizing: border-box;
//   text-align: center;
// }

// form {
//   background-color: $black;
//   color: $white;
// }

// body {
//   background-color: $black;
//   color: $white;
// }

// .row {
//   text-align: center;
// }

// .board {
//   box-sizing: border-box;
//   margin: auto;
// }

// .container .col-xs-4 {
//   border: 1px solid $gold;
//   box-sizing: border-box;
//   display: block;
//   height: $height;
//   margin: auto;
//   text-align: center;
//   width: $width;
//  }
